@media (orientation: landscape) {
    .sidebar {
        height: 100%;
        width: 25%;
        max-width: 20em;
        font-weight: bold;
        line-height: 2em;
        background-color: $emphasized-background;

        td {
            padding: 0.25em 0.5em;
            text-align: center;
            vertical-align: middle;
        }
    }

    .sidebar__header {
        background-image: url(http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 30%;
        max-height: 9.5em;
        margin-bottom: 8px;
    }

    .sidebar__content {
        margin-left: 1em;
    }

    .sidebar__grid {
        position: relative;
        max-width: 3em;
        max-height: 3em;
        width: $node-size;
        height: $node-size;
    }

    .sidebar__button-full {
        width: 100%;
    }

    .topbar {
        display: none;
    }

    .footbar {
        display: none;
    }
}
