@media (orientation: landscape) {
    .sidebar {
        width: 25%;
        font-weight: bold;
        margin-left: 2px;
        padding-top: 1.5 * $node-size;
        line-height: 2em;
    }

    .topbar {
        display: none;
    }

    .footbar {
        display: none;
    }
}
