@media (orientation: portrait) {
    .sidebar {
        display: none;
    }

    .topbar {
        font-weight: bold;
        padding-left: 11.1%;
        max-width: 32.5em;
        width: 88.9%;
        height: 2em;

        .topbar__text {
            float: left;
            width: 33%;
        }

        .topbar__right {
            float: right;
            width: auto;
        }
    }

    .footbar {
        margin-top: 2em;
        max-width: 32.5em;
        width: 100%;

        .footbar__right {
            float: right;
        }

        .footbar__left {
            margin-left: $node-size;
            float: left;
        }
    }
}
