.topbar {
    font-size: 120%;
    font-weight: bold;
    margin-left: 4em;
    height: $node-size;

    .topbar__text {
        float: left;
        width: 33%;
    }

    .topbar__center {
        text-align: center;
    }

    .topbar__right {
        float: right;
        width: auto;
    }
}
